body {
    background-color:gray !important;
}
h1{
    text-align: center;
    margin: 2em 0em 0em 0em;
}
h1:hover{
    background-color: gray;
}

#forms{
    margin-top:1em;
    text-align: center;
    padding: 2em 0em;
    
}
#wf{
    background-color:#00ccff;
    display:inline-block;
    border:4px solid #990099;
    width: 60%;
}
#left{
    display:inline-block;
    width: 13%;
}

#right{
    display: inline-block;
    width:13%
}

.display{
display:inline-block;
}
.btnSub{
    position:relative;
padding:1em 2em;
}
.btnAdd{
    padding:1em 2em;

}